<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="{% url 'hospital:keyword_fbv' %}" method="GET" class="">
    <input type="text" name="q" placeholder="키워드를 입력하세요" class="">
    <button class="" type="submit">검색</button>
</form>
<br/>

<br/>
<h1>DeptAndKeyword</h1>
<select id="keyword-select" onchange="location = this.value;">
    {% for item in dept %}
        <option value="?dept={{ item.dept }}" selected="selected">{{ item.dept }}</option>
    {% endfor %}
    <option value="" selected="selected">------dept-------</option>
</select>
<table>
    <thead>
    <th>키워드</th>
    </thead>
    <tbody>
    <td>{% for item in dept_keyword %}{{ item.name }},&nbsp;{%  endfor %}</td>
    </tbody>
</table>

<h1>DepthOneKeyword</h1>
<select id="keyword-dept1" onchange="location = this.value;">
    {% for item in depth_one %}
        <option value="?depth1={{ item.name }}" selected="selected">{{ item.name }}</option>
    {% endfor %}
    <option value="" selected="selected">-----depth1------</option>
</select>
<table>
    <thead>
    <th>키워드</th>
    </thead>
    <tbody>
    <td>{% for item in depth1_rel %}{{ item.relkeyword }},&nbsp;{%  endfor %}</td>
    </tbody>
</table>

{#<h1>DepthTwoKeyword</h1>#}
{#<select id="keyword-dept2" onchange="location = this.value;">#}
{#    {% for item in depth_two %}#}
{#        <option value="?depth2={{ item.name }}" selected="selected">{{ item.name }}</option>#}
{#    {% endfor %}#}
{#    <option value="" selected="selected">-----depth2------</option>#}
{#</select>#}
{#<table>#}
{#    <thead>#}
{#    <th>키워드</th>#}
{#    </thead>#}
{#    <tbody>#}
{#    <td>{% for item in depth2_rel %}{{ item.relkeyword }},&nbsp;{%  endfor %}</td>#}
{#    </tbody>#}
{#</table>#}
{##}
{#<h1>DepthThreeKeyword</h1>#}
{#<select id="keyword-dept3" onchange="location = this.value;">#}
{#    {% for item in depth_three %}#}
{#        <option value="?depth3={{ item.name }}" selected="selected">{{ item.name }}</option>#}
{#    {% endfor %}#}
{#    <option value="" selected="selected">-----depth3------</option>#}
{#</select>#}
{#<table>#}
{#    <thead>#}
{#    <th>키워드</th>#}
{#    </thead>#}
{#    <tbody>#}
{#    <td>{% for item in depth3_rel %}{{ item.relkeyword }},&nbsp;{%  endfor %}</td>#}
{#    </tbody>#}
{#</table>#}

<br />
<h1>JamesKeywordNaverapi</h1>
<table>
    <thead>
    <th>조회일</th>
    <th>키워드</th>
    <th>연관키워드</th>
    <th>pc클릭수</th>
    <th>모바일클릭수</th>
    <th>pc비율</th>
    <th>모바일비율</th>
    <th>평균</th>
    <th>경쟁도</th>
    </thead>
    {% for item in naverapi %}
        <tbody>
        <td>{{ item.date_id }}</td>
        <td>{{ item.keyword }}</td>
        <td>{{ item.relkeyword }}</td>
        <td>{{ item.pcclick }}</td>
        <td>{{ item.mobileclick }}</td>
        <td>{{ item.pcadsclick }}</td>
        <td>{{ item.mobileadsclick }}</td>
        <td>{{ item.pcpercentage }}</td>
        <td>{{ item.mobilepercentage }}</td>
        <td>{{ item.avgdepth }}</td>
        <td>{{ item.compidx }}</td>
        </tbody>
    {%  endfor %}
</table>
</body>
</html>